.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.env.production
.env.gamma
.DS_Store
*/.env
*/.env.production
*/.env.gamma
.cursor
.mypy_cache
/.pytest_cache/
/.ruff_cache/
__pycache__/
